<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        <img alt="Google" height="92" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" width="272">
        <form action="https://www.google.com/search">
            <input type="text" class="text" name="q">
            <input type="submit" value="Google Search" class="search">
            <input type="submit" value="I'm Feeling Lucky" name="btnI" class="lucky">
        </form>
        <a href="images" class="image">Image Search</a>
        <a href="advanced_search" class="advanced">Advanced Search</a>
    </body>
</html>